<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <style>
        div{
            text-align: center;
            size: 20px;
        }
        #a input{
            border: 12px;
            background-color: red;
            color: aliceblue;

        }
    </style>
</head>
<body ng-app> 
    <div>
        <h2>
            register
        </h2>
    </div>
    <div>
        <form name="myform">
            <div>
     <input type="text" name="name" ng-model="username" ng-Minlength=8 required placeholder="username">
    <div class="error" ng-show="myform.name.$dirty">
        <p ng-show="myform.name.$error.required">
            required!
        </p>
        <p ng-show="myform.name.$error.minlength">
            min-lenght is 8!
        </p>
    </div>
</div >
<div>
    <input type="password" name="pass1" ng-model="password1" ng-Minlength=8 required placeholder=" password">
    <div class="error" ng-show="myform.pass1.$dirty">
<p ng-show="myform.pass1.$error.required">required!</p>
<p ng-show="myform.pass1.$error.minlength">minlenght is 8!</p>
    </div>
</div>
<div>
    <input type="password" name="pass2" ng-model="password2"  required placeholder="final mark">
    <div class="error" ng-show="myform.pass2.$dirty">
        <p ng-show="myform.pass2.$error.required">equired!</p>
    </div>
</div>
<div id="a">
    <input type="submit" value="Register now" ng-click="up()"
    ng-disabled="myform.$invalid">
</div>
        </form>
    </div>
    <script>
        var app=angular.module("myapp",[]);
    
    </script>
</body>
</html>